extends _main


block content
	h1: a(href=archivesRoot) Blog Archives

	section.archives
		each byYear in posts
			h2.year: a(href=archivesRoot + byYear.path)= byYear.key
			each byMonth in byYear.posts
				h3.month: a(href=archivesRoot + byYear.path + byMonth.path)= byMonth.key
				ul.posts
					each post in byMonth.posts
						li.post
							a(href=post.meta.urlpath, title="Posted on #{post.meta.date.format('LL')} at #{post.meta.date.format('LT')}")= post.meta.title
							time(datetime=post.meta.date.toISOString()) - on the #{post.meta.date.format('Mo')}
